*{
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 5px;
    grid-template-rows: 5px;
    justify-content: center;
}

.cube{
    height: 15px;
    width: 15px;
    border: 0.5px solid black;
}

.hover {
    background-color: red;
}